#logo{
    width: 50px;
}
.menu-prop{
    margin-left: 3%
}
.search-field{
    margin-top: 10px !important
}
.card-title-custom{
    font-size: 1.3em;
    color: #45ba4f;
    font-weight: 800;
}
.card-synapsis{
    font-style: italic;
    font-size: 0.9em;
    margin-top: 15px;
}
.card-author{
    font-weight: bolder;
    font-size: 1.2em;
    margin-right: -10px;
    float: left;
}
.card-heart{
    position: absolute;
    right: 5%;
    top: 2%;
    font-size: 2em;
    font-weight: 100;
}