#logo{
    width: 50px;
}
.menu-prop{
    margin-left: 3%
}
.search-field{
    margin-top: 10px !important
}

/* AllBooks Styles */
.card-title-custom{
    font-size: 1.3em;
    color: #45ba4f;
    font-weight: 800;
}
.card-synapsis{
    font-style: italic;
    font-size: 0.9em;
    margin-top: 15px;
}
.card-author{
    font-weight: bolder;
    font-size: 1.2em;
    margin-right: -10px;
    float: left;
}
.card-heart{
    position: absolute;
    right: 5%;
    top: 2%;
    font-size: 2em;
    font-weight: 100;
}
/* SingleBook Styles */
.book-author{
    font: 2em bold;
    margin: 10px 0
}
.book-year{
    font: 2em bold;
    margin: 10px 0
}
.book-title{
    font: 3em bolder;
    color:  #45ba4f;
    margin-bottom: 25px
}
.book-synopsis{
    font-size: 1.4em;
    margin-bottom: 30px
}
.book-buy{
    position: absolute;
    right: 5%
}
.book-publisher{
    display: inline;
}